@charset "UTF-8";

.button,
.button_transparent {
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  padding: 25px;
  font-family: 'Rubik';
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #423FD9;
}

.button:hover,
.button_transparent:hover {
  -webkit-box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.1);
}

.button:active,
.button_transparent:active {
  -webkit-box-shadow: inset -1px 3px 10px rgba(0, 0, 0, 0.15), inset 1px -3px 10px rgba(0, 0, 0, 0.15);
          box-shadow: inset -1px 3px 10px rgba(0, 0, 0, 0.15), inset 1px -3px 10px rgba(0, 0, 0, 0.15);
}

.button_transparent {
  background-color: transparent;
  color: #fff;
}

.button_transparent:hover {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.1);
}

.button_transparent:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.features__title,
.cases__title,
.profit__title,
.target__title,
.prospect__title,
.about__title,
.faq__title {
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
}

img {
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: top;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Proxima Nova", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  line-height: 1;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNovaRegular.eot");
  src: url("../fonts/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaRegular.ttf") format("truetype"), url("../fonts/ProximaNovaRegular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNovaBold.eot");
  src: url("../fonts/ProximaNovaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBold.ttf") format("truetype"), url("../fonts/ProximaNovaBold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNovaExtrabld.eot");
  src: url("../fonts/ProximaNovaExtrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExtrabld.ttf") format("truetype"), url("../fonts/ProximaNovaExtrabld.woff") format("woff");
  font-weight: 800;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:-moz-focus-inner {
  padding: 0;
  bottom: 0;
}

a {
  display: inline-block;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 400;
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: gray;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 5px;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
}

.header {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header-logo {
  color: #fff;
  z-index: 9999;
}

.header__title {
  font-weight: 800;
  font-size: 43px;
  line-height: 50px;
  margin-bottom: 10px;
}

.header__subtitle {
  font-size: 18px;
  line-height: 22px;
}

.header-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-actions__button {
  max-height: 74px;
  padding: 25px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-actions__button:first-child {
  margin-right: 63px;
}

.header-burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 9999;
}

.header-burger::after,
.header-burger::before,
.header-burger span {
  content: '';
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.header-burger::before {
  top: 0;
}

.header-burger::after {
  bottom: 0;
}

.header-burger span {
  top: 9px;
}

.header-nav {
  display: none;
}

.header-nav a {
  padding: 10px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}

.header-nav a:first-child {
  margin-bottom: 62px;
}

.header-nav a:nth-child(2) {
  margin-bottom: 20px;
}

.main {
  height: 100vh;
  background-image: url("../img/main-bgc.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

.main-inner {
  color: #FFFFFF;
  width: 50%;
}

.main__title {
  font-weight: 800;
  font-size: 65px;
  line-height: 65px;
  margin-bottom: 35px;
}

.main__subtitle {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 30px;
}

.main__image {
  width: 100%;
}

.main__button {
  padding: 25px !important;
}

.features {
  padding: 130px 0px;
}

.features__title {
  color: #000000;
  margin: 25px 0px 80px;
}

.features-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.features-wrapper__block {
  width: calc(100% / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-wrapper__block:not(:last-child) {
  margin-bottom: 50px;
}

.features-block__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  max-width: 400px;
}

.features-block__image {
  margin-bottom: 50px;
}

.line,
.line_blue,
.line_white {
  border-radius: 10px;
  width: 184px;
  height: 10px;
  display: block;
}

.line_blue {
  background-color: #0500FF;
}

.line_white {
  background-color: #fff;
}

.cases {
  background-image: url("../img/cases-bgc.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-bottom: 450px;
  color: #FFFFFF;
}

.cases .container {
  padding-top: 86px;
}

.cases .line_white {
  margin: 0 auto;
}

.cases__title {
  margin: 25px 0px 105px;
  text-align: center;
}

.cases-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 821px;
}

.cases-wrapper__image_mobile {
  display: none;
}

.cases-wrapper:first-child,
.cases-wrapper:last-child {
  width: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cases-wrapper:first-child .cases-wrapper__block,
.cases-wrapper:last-child .cases-wrapper__block {
  height: 25%;
}

.cases-wrapper:nth-child(2) {
  width: 40%;
  -ms-flex-item-align: center;
      align-self: center;
}

.cases-wrapper__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 20px;
}

.cases-wrapper__subtitle {
  font-size: 20px;
  line-height: 24px;
}

.cases-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cases-advice {
  padding: 27px 0;
  border-top: 1px solid #FFFFFF;
  width: 85%;
  position: relative;
}

.cases-advice::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 298.5px;
  height: 1px;
  background-color: #fff;
  display: block;
  content: '';
}

.cases-advice span {
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  color: #F2C94C;
}

.profit {
  padding: 66px 0px 229px;
}

.profit .line_blue {
  margin-left: auto;
}

.profit__title {
  margin: 25px 0px 85px;
  text-align: right;
  color: #333333;
}

.profit-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.profit-wrapper__card {
  width: calc((100% - 20px * (4 - 1)) / 4);
}

.profit-wrapper__card:not(:last-child) {
  margin-right: 20px;
}

.profit-card {
  background-color: #FFFFFF;
  -webkit-box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
          box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
  border-radius: 3px;
  height: 574px;
  padding: 60px 45px;
  position: relative;
}

.profit-card .line,
.profit-card .line_blue,
.profit-card .line_white {
  background-color: #5976E0;
  height: 7px;
  width: 60px;
  margin-bottom: 38px;
}

.profit-card__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.profit-card__number {
  position: absolute;
  font-weight: bold;
  font-size: 150px;
  line-height: 183px;
  color: #0500FF;
  bottom: 45.5px;
}

.target {
  padding: 105px 0px 165px;
  background-color: #423FD9;
  color: #FFFFFF;
  font-weight: bold;
}

.target__title {
  margin: 25px 0px 93px;
}

.target-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.target-wrapper__list {
  font-size: 24px;
  line-height: 29px;
  margin-right: 169px;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.target-wrapper__list-item {
  padding-bottom: 30px;
  position: relative;
  list-style: none;
}

.target-wrapper__list-item:not(:last-child) {
  margin-bottom: 125px;
}

.target-wrapper__list-item::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 405px;
  height: 1px;
  background-color: #fff;
}

.prospect {
  padding: 156px 0px 196px;
}

.prospect .line_blue {
  margin-left: auto;
}

.prospect__title {
  text-align: right;
  margin: 25px 0px 107px;
  color: #333333;
}

.prospect-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prospect-wrapper > * {
  width: calc((100% - 23px) / 2);
}

.prospect-wrapper > *:first-child {
  margin-right: 23px;
}

.prospect-wrapper__list {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.prospect-wrapper__list-item {
  background-color: #FFFFFF;
  -webkit-box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
          box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
  border-radius: 3px;
  padding: 40px;
  list-style: none;
}

.prospect-wrapper__list-item:not(:last-child) {
  margin-bottom: 60px;
}

.action {
  background-image: url("../img/action-bgc.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 600px;
  padding: 130px 0px 170px;
}

.action .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action__title {
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 111px;
}

.action__button {
  border: none;
  text-transform: uppercase;
  background: #F2C94C;
  padding: 25px 86px !important;
  color: #333333;
  margin: 0 auto;
}

.about {
  padding: 169px 0px 82px;
  color: #000000;
}

.about__title {
  margin-top: 25px;
  width: 75%;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-wrapper__block,
.about-wrapper picture {
  width: 50%;
}

.about-wrapper__block span {
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 50px;
  display: block;
}

.about-wrapper__block ul {
  font-size: 30px;
  line-height: 37px;
  list-style-position: inside;
}

.about-wrapper__block ul li:not(:last-child) {
  margin-bottom: 50px;
}

.faq {
  background-color: #423FD9;
  color: #FFFFFF;
  padding: 86px 0px 154px;
}

.faq .line_white {
  margin: 0 auto;
}

.faq__title {
  text-align: center;
  margin: 25px 0px 81px;
}

.faq-question {
  cursor: pointer;
  position: relative;
}

.faq-question picture:nth-child(3) {
  display: none;
}

.faq-question::after {
  background-image: url("../img/faq-line.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 20px;
  display: block;
}

.faq-question__title {
  padding: 60px 0px;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.faq-question__title p {
  width: 90%;
}

.faq-question__title::-webkit-details-marker {
  display: none;
}

.faq-question__title p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-question__title p span {
  margin-right: 34px;
}

.faq-question__content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  text-align: left;
  font-size: 24px;
  line-height: 29px;
  padding-left: 76px;
}

.faq-question img {
  -webkit-transition: .25s all linear;
  -o-transition: .25s all linear;
  transition: .25s all linear;
}

.faq-question.active .faq-question__content {
  margin-bottom: 60px;
}

.faq-question.active img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .25s all linear;
  -o-transition: .25s all linear;
  transition: .25s all linear;
}

.footer {
  background-color: #423FD9;
  border-top: 10px solid #5956E9;
  padding: 50px 0px;
  color: #fff;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo__block:first-child {
  margin-bottom: 109px;
}

.footer-logo__title {
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
}

.footer-logo__subtitle {
  font-size: 18px;
  line-height: 22px;
}

.footer-logo__icon,
.footer-logo__title {
  margin-right: 18px;
}

.footer-logo__content {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.footer-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-action__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 17px;
}

.footer-action__button {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 33px;
  padding: 25px 80.5px !important;
}

.footer-action__copy {
  font-size: 16px;
  line-height: 19px;
}

.footer-links {
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-links .footer-logo__block,
.footer-links .footer-action__copy {
  display: none;
}

.footer-links * {
  color: #FFFFFF;
}

.footer-links > *:not(:last-child) {
  margin-bottom: 57px;
}

.footer-links__mail,
.footer-links__geo,
.footer-links picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-links__mail img,
.footer-links__geo img,
.footer-links picture img {
  margin-right: 15px;
}

.footer-links__policy {
  text-decoration: underline;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-wrapper {
  background: #FFFFFF;
  border-radius: 22px;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 60px 170px;
}

.popup__title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #423FD9;
  text-align: center;
  margin-bottom: 50px;
}

.popup__close {
  position: absolute;
  right: 45.82px;
  top: 45.82px;
  cursor: pointer;
}

.popup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup-form__input {
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 28px;
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 24px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.popup-form__input-wrapper {
  position: relative;
}

.popup-form__input-wrapper.empty input,
.popup-form__input-wrapper.empty textarea {
  border-color: #E4120D;
}

.popup-form__input-wrapper.empty::after {
  position: absolute;
  bottom: 0;
  left: 16px;
  display: block;
  content: 'Заполните поле';
  color: #e4120d;
  font-size: 12px;
  line-height: 18px;
}

.popup-form__input:focus {
  border-color: #423FD9;
}

.popup-form__input::-webkit-input-placeholder {
  color: #BDBDBD;
}

.popup-form__input::-moz-placeholder {
  color: #BDBDBD;
}

.popup-form__input:-ms-input-placeholder {
  color: #BDBDBD;
}

.popup-form__input::-ms-input-placeholder {
  color: #BDBDBD;
}

.popup-form__input::placeholder {
  color: #BDBDBD;
}

.popup-form input[type="tel"] {
  margin-bottom: 21px;
}

.popup-form textarea {
  resize: none;
  height: 131px;
}

.popup-form__warning {
  font-size: 16px;
  line-height: 19px;
  color: #BDBDBD;
  margin-bottom: 40px;
}

.popup-form__warning a {
  color: #8280ff;
  text-decoration: underline;
}

.popup-form__submit {
  background-color: #F2C94C;
  padding: 25px 100px !important;
  color: #333;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media (min-width: 1540px) {
  .container {
    max-width: 1680px;
  }
}

@media (max-width: 1440px) {
  .button,
  .button_transparent {
    padding: 0px 25px;
  }

  .features__title,
  .cases__title,
  .profit__title,
  .target__title,
  .prospect__title,
  .about__title,
  .faq__title {
    font-size: 40px;
    line-height: 49px;
  }

  .header__title {
    font-size: 50px;
    line-height: 50px;
  }

  .header-actions__button {
    max-height: 58px;
  }

  .header-actions__button:first-child {
    margin-right: 40px;
  }

  .main__title {
    font-size: 50px;
    line-height: 50px;
  }

  .main__subtitle {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 50px;
  }

  .features {
    padding: 150px 0px 176px;
  }

  .features-block__title {
    font-size: 22px;
    line-height: 30px;
    max-width: 362px;
  }

  .features-block__image {
    width: 200px;
  }

  .cases-wrapper__title {
    font-size: 30px;
    line-height: 30px;
  }

  .cases-wrapper__subtitle {
    font-size: 18px;
    line-height: 22px;
  }

  .cases-advice {
    width: 100%;
  }

  .cases-advice span {
    font-size: 30px;
    line-height: 37px;
  }

  .profit {
    padding-bottom: 239px;
  }

  .profit__title {
    margin-bottom: 126px;
  }

  .profit-card {
    padding: 69px 30px;
  }

  .profit-card .line,
  .profit-card .line_blue,
  .profit-card .line_white {
    margin-bottom: 28px;
  }

  .profit-card__title {
    font-size: 20px;
    line-height: 30px;
  }

  .target {
    padding: 94px 0px 160px;
  }

  .target__title {
    margin-bottom: 120px;
  }

  .target-wrapper__list-item::after {
    width: 285px;
  }

  .prospect {
    padding: 172px 0px 190px;
  }

  .prospect-wrapper__list-item {
    padding: 40px 20px;
  }

  .prospect-wrapper__list-item:not(:last-child) {
    margin-bottom: 50px;
  }

  .action {
    padding: 96px 0px 250px;
  }

  .action__title {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 86px;
  }

  .about {
    padding: 226px 0px 129px;
  }

  .about-wrapper__block span {
    font-size: 30px;
    line-height: 37px;
  }

  .about-wrapper__block ul {
    font-size: 24px;
    line-height: 29px;
  }

  .faq {
    padding: 66px 0px 144px;
  }

  .faq-question__title {
    font-size: 30px;
    line-height: 37px;
  }

  .faq-question__content {
    font-size: 20px;
    line-height: 24px;
    padding-left: 65px;
  }

  .footer-logo__title {
    font-size: 40px;
    line-height: 46px;
  }

  .footer-logo__icon,
  .footer-logo__title {
    margin-right: 14px;
  }

  .footer-action__button {
    margin-bottom: 50px;
  }

  .popup-wrapper {
    padding: 60px 80px;
  }
}

@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }

  .cases-wrapper {
    height: 1024px;
  }
}

@media (max-width: 1024px) {
  .main-wrapper {
    width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }

  .header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-logo h1 {
    margin-right: 15px;
  }

  .main {
    height: auto;
    padding-bottom: 50px;
  }

  .main-wrapper {
    width: 750px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .main-inner {
    width: 100%;
  }

  .main-inner:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 35px;
  }

  .main__button {
    text-align: center;
  }

  .features-wrapper__block {
    width: calc(100% / 2);
  }

  .cases {
    padding-bottom: 610px;
  }

  .cases-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .cases-wrapper__block {
    width: 50%;
  }

  .cases-wrapper:first-child,
  .cases-wrapper:last-child {
    height: auto;
    width: 100%;
  }

  .cases-wrapper:nth-child(2) {
    width: 100%;
  }

  .cases-wrapper:nth-child(2) picture,
  .cases-wrapper:nth-child(2) img {
    width: 100%;
  }

  .cases-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .profit-wrapper__card {
    width: calc((100% - 20px * (4 / 2)) / 2);
  }

  .profit-wrapper__card {
    width: 100%;
  }

  .profit-wrapper__card:nth-child(2) {
    margin-right: 0;
  }

  .profit-wrapper__card:nth-child(1),
  .profit-wrapper__card:nth-child(2) {
    margin-bottom: 40px;
  }

  .profit-wrapper__card:not(:last-child) {
    margin-right: 0;
  }

  .target-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .target-wrapper__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin-right: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .target-wrapper__list-item:not(:last-child) {
    width: 50%;
  }

  .prospect-wrapper > * {
    width: 100%;
  }

  .prospect-wrapper > *:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about__title {
    width: 100%;
    margin: 10px 0px 25px;
  }

  .footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer-logo {
    width: 50%;
  }

  .footer-action {
    width: 50%;
  }

  .footer-links {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }

  .popup-wrapper {
    width: 80%;
  }
}

@media (max-width: 992px) and (max-width: 768px) {
  .main-inner:first-child {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: none;
    padding: 0px 40px;
  }

  .header {
    width: 100%;
    height: 75px;
    top: 0;
    left: 0;
    z-index: 50;
    padding: 50px 0px;
    margin-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .header__title {
    font-size: 35px;
    line-height: 45px;
  }

  .header-actions {
    display: none;
  }

  .header-actions__button {
    width: 100%;
    padding: 20px;
  }

  .header-actions__button:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .header-burger {
    display: block;
  }

  .header-burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header-burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header-burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 9px;
  }

  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    padding: 134px 16px 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #423FD9;
    z-index: -1;
    overflow: auto;
    font-size: 1.5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
  }

  .header-nav.active {
    left: 0;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    z-index: 999;
  }

  .main-wrapper {
    width: auto;
  }

  .main__title {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 25px;
  }

  .main__subtitle {
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 40px;
  }

  .main__subtitle br {
    display: none;
  }

  .main__image {
    display: none;
  }

  .main__button {
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    padding: 8px 12px !important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .features-wrapper__block {
    width: 100%;
  }

  .cases .container {
    padding-top: 27px;
  }

  .cases__title {
    margin-bottom: 50px;
  }

  .cases-wrapper__image_mobile {
    display: block;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
  }

  .cases-wrapper__image {
    display: none;
  }

  .cases-wrapper__title {
    font-size: 18px;
    line-height: 20px;
    min-height: 30px;
    margin-bottom: 0;
  }

  .cases-wrapper__subtitle {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
  }

  .cases-wrapper__block {
    width: calc(50% - 10px);
    margin-bottom: 44px;
  }

  .cases-wrapper__block picture {
    width: 100px;
    height: 100px;
  }

  .cases-wrapper__block:nth-child(odd) {
    margin-right: 20px;
  }

  .cases-advice::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .cases-advice span {
    font-size: 17px;
    line-height: 25px;
  }

  .about-wrapper__block,
  .about-wrapper picture {
    width: 100%;
  }

  .footer-logo__block:first-child {
    margin-bottom: 30px;
  }

  .popup-wrapper {
    padding: 100px 20px;
  }
}

@media (max-width: 576px) {
  .features__title,
  .cases__title,
  .profit__title,
  .target__title,
  .prospect__title,
  .about__title,
  .faq__title {
    font-size: 20px;
    line-height: 24px;
  }

  .container {
    padding: 0px 16px;
  }

  .header {
    padding: 50px 0px 0px;
    margin-bottom: 30px;
  }

  .header__title {
    font-size: 20px;
    line-height: 20px;
  }

  .header__subtitle {
    font-size: 12px;
    line-height: 15px;
  }

  .main__title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  .main__subtitle {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 30px;
  }

  .main__button {
    padding: 10px 20px !important;
  }

  .features {
    padding: 50px 0px;
  }

  .features__title {
    margin: 10px 0px 65px;
  }

  .features-block__title {
    font-size: 14px;
    line-height: 17px;
    max-width: 288px;
  }

  .features-block__image {
    margin-bottom: 35px;
  }

  .line,
  .line_blue,
  .line_white {
    width: 50px;
    height: 5px;
  }

  .cases {
    padding-bottom: 130px;
    background-size: contain;
    background-position: bottom;
  }

  .cases .container {
    background-color: #423FD9;
  }

  .cases__title {
    margin: 10px 0px 55px;
  }

  .cases-wrapper__title {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
  }

  .cases-wrapper__subtitle {
    font-size: 16px;
    line-height: 19px;
  }

  .cases-wrapper__block {
    width: 100%;
  }

  .cases-wrapper__block:first-child {
    margin-bottom: 50px;
  }

  .cases-advice {
    padding: 20px 0;
  }

  .cases-advice::after {
    left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    width: 110px;
  }

  .cases-advice span {
    font-size: 16px;
    line-height: 19px;
  }

  .profit {
    padding: 38px 0px 83px;
  }

  .profit__title {
    margin: 10px 0px 35px;
    font-size: 19px;
  }

  .profit-wrapper__card {
    margin-bottom: 20px;
  }

  .profit-card {
    padding: 35px 16px;
    height: 311px;
  }

  .profit-card .line,
  .profit-card .line_blue,
  .profit-card .line_white {
    height: 4px;
    width: 32px;
    margin-bottom: 15px;
  }

  .profit-card__title {
    font-size: 16px;
    line-height: 19px;
  }

  .profit-card__number {
    font-size: 100px;
    line-height: 122px;
    bottom: 0;
  }

  .target {
    padding: 27px 0px 60px;
  }

  .target__title {
    margin-bottom: 45px;
  }

  .target-wrapper__list {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 67px;
  }

  .target-wrapper__list-item:not(:last-child) {
    width: 100%;
    margin-bottom: 40px;
  }

  .target-wrapper__list-item {
    width: 100%;
    padding-bottom: 10px;
  }

  .prospect {
    padding: 45px 0px 64px;
  }

  .prospect__title {
    margin: 10px 0px 35px;
  }

  .prospect-wrapper__list {
    font-size: 14px;
    line-height: 17px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 65px;
  }

  .prospect-wrapper__list-item {
    padding: 30px 15px;
  }

  .prospect-wrapper__list-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .action {
    background-image: url("../img/action-bgc-m.svg");
    padding: 30px 0px 55px;
    background-size: cover;
    background-position: bottom;
  }

  .action__title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 30px;
  }

  .action__button {
    padding: 10px 0px !important;
    width: 65%;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }

  .about {
    padding: 50px 0;
  }

  .about-wrapper__block span {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
  }

  .about-wrapper__block ul {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 37px;
  }

  .faq {
    padding: 27px 0px 49px;
  }

  .faq__title {
    margin: 10px 0px 36px;
  }

  .faq-question picture:nth-child(2) {
    display: none;
  }

  .faq-question picture:nth-child(3) {
    display: block;
  }

  .faq-question::after {
    background-image: url("../img/faq-line-m.svg");
  }

  .faq-question__title {
    padding: 20px 0px;
    font-size: 16px;
    line-height: 16px;
  }

  .faq-question__title p {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .faq-question__title p span {
    margin-right: 10px;
  }

  .faq-question__content {
    font-size: 14px;
    line-height: 17px;
    padding-left: 26.5px;
  }

  .faq-question.active .faq-question__content {
    margin-bottom: 20px;
  }

  .footer {
    border-top-width: 5px;
    padding: 25px 0px 30px;
  }

  .footer-logo {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-logo .footer-logo__block:last-child {
    display: none;
  }

  .footer-logo__block:first-child {
    margin-bottom: 0;
  }

  .footer-logo__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-logo__title {
    font-size: 20px;
    line-height: 20px;
  }

  .footer-logo__subtitle {
    display: none;
  }

  .footer-logo__icon,
  .footer-logo__title {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .footer-logo__content {
    font-size: 18px;
    line-height: 22px;
  }

  .footer-action {
    width: 100%;
  }

  .footer-action__title {
    font-size: 14px;
    line-height: 17px;
  }

  .footer-action__button {
    padding: 10px 0px !important;
    width: 100%;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  .footer-action__copy {
    display: none;
  }

  .footer-links {
    font-size: 16px;
    line-height: 19px;
    margin-top: 0;
  }

  .footer-links .footer-logo__block,
  .footer-links .footer-action__copy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer-links > *:not(:last-child) {
    margin-bottom: 25px;
  }

  .footer-links__mail,
  .footer-links__geo,
  .footer-links picture {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-links__mail img,
  .footer-links__geo img,
  .footer-links picture img {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .popup-wrapper {
    width: 90%;
    padding: 30px 20px;
  }

  .popup__title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .popup__close {
    right: 21px;
    top: 21px;
    width: 13px;
  }

  .popup-form__input {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .popup-form input[type="tel"] {
    margin-bottom: 20px;
  }

  .popup-form textarea {
    height: 85px;
    margin-bottom: 15px;
  }

  .popup-form__warning {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 15px;
  }

  .popup-form__warning br {
    display: none;
  }

  .popup-form__submit {
    padding: 10px 0 !important;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
}